@media screen and (max-width: 768px){
	.anunciosCinema{
		display: none;
	}
	.programacaoCinema{
		width: 100%;
	}
	.coluna-poster{
		width: 27.5%;
		float: left;
	}
	.coluna-poster img{
		width: 100%;
	}
	.coluna-filme{
		margin-left: 13.5em;
	}
}