.fa-pencil-square-o{
	padding-left: 0.25em;
    padding-top: 0.3em;
}
.tabela-categorias td:first-child{
	width: 40%;
}
.tabela-categorias td:nth-child(2){
	width: 40%;
}
.tabela-categorias td:nth-child(3){
	width: 10%;
}
.tabela-categorias td:nth-child(4), .tabela-categorias td:last-child{
	width: 5%;
}
.tabela-lojas td:nth-child(5), .tabela-lojas td:last-child{
	width: 5%;
}
.fotoLojaConsulta img{
	width: 480px;
	height: 300px;
}
.fotoLojaConsulta figcaption{
	font-style: italic;
    background-color: #CFCFCF;
    width: 480px;
    padding: 0.3em 1em;
    color: #4F4F4F;
}
.tabelaView tbody td:nth-of-type(1){
	font-weight: bold;
}
.tabelaView thead td{
	font-weight: bold;
	text-align: center;
}
.imgSmall{
	width: 300px;
}
.cardapio_gastronomia ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.precoCardapio{
	float:right;
}
.field-error{
	border: 2px solid red;
}
.text-error{
	color: red;
}
.addItem, .excluirVinculo{
	color: white;
	float: right;
}
.addItem:hover,.addItem:visited,.excluirVinculo:hover,.excluirVinculo:visited{
	cursor: pointer;
	text-decoration: none;
	color: white;
}
.dialog{
	display: none;
}
.dialog h3{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 0;
}
.dialog form{
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}
.dialog button{
	float: right;
	margin-left: 5px;
}
.itemDialog{
	width: 800px;
}
.display{
	display: block;
}
.hide{
	display: none;
}
.bannerDialog{
	width: 700px;
	background-color: white;
	box-sizing: border-box;
	border: 5px solid transparent;
	border-radius: 6px;
	margin: 0 auto;
	z-index: 9999;
	outline: 9999px solid rgba(0,0,0,0.8);
	padding: 1em;
	position: absolute;
	left: 310px;
	top: 550px;
}
.navbar-right{
	margin-left: 650px;
}
.footer-main{
    background-color: #e7e7e7;
    border-top: 0.3px solid #ccc;
    margin-top: 0.5em;
    padding: 1em 2em;
    color: #777;
}
.social{
	list-style-type: none;
}
.social li{
	display: inline-block;
	padding-left: 5px;
	margin-top: 15px;
}
.footer-main p:last-child{
	margin-bottom: 0;
}
.categorias_produtos h4{
	border-bottom: 1px solid #ccc;
}
.categorias_produtos h4, .categorias_produtos p{
	padding-left: 0.3em;
}
.subcategorias_vinculadas li:first-child{
	margin-left: -2.5em;
}
.subcategorias_vinculadas li{
	display: inline-block;
	border-color: #009688;
	background-color: #009688;
	border-radius: 3px;
	color: white;
	text-align: center;
    padding: 0.5em 1.3em 0.5em 1.3em;
    margin-right: 0.5em;
    cursor: pointer;
}
.minimizarPainel,.minimizaPainel:hover,.minimizaPainel:visited{
	color: white;
}
.linkAddAtor{
	padding-left: 1em;
}
.tabela-dialog-atores th:first-child{
    width: 65%;
}