body{
	font-family: "Open Sans",Arial,Verdana,sans-serif;
	font-size: 120%;
}
header{
	height: 4.8em;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
}
header h1{
	margin-left: 1.5em;
	margin-right: -1em;
	padding-left: 0.5em;
}
header h1, .menu-principal{
	float: left;
	box-sizing: border-box;
}
.menu-principal{
	/*width: 70%;*/
	padding-top: 0.9em;
	padding-bottom: 1.75em;
	padding-left: 0.8em;
	margin-left: 1em;
}
.servicos{
	/*width: 85%;*/
}
.servicos li{
	display: inline-block;
	margin-right: 2.5em;
}
.servicos li:last-child{
	padding-left: 1.5em;
	text-align: center;
	position: relative;
	top: 0.6em;
    -webkit-animation-name: mostraLocalizacao;
    -webkit-animation-duration: 3s; 
    animation-name: mostraLocalizacao;
    animation-duration: 3s;
}
.menu-principal a, .menu-login a{
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
.menu-principal a:hover, .menu-login a:hover{
	color: #008B45;
}
.servicos a{
	color: #828282;
}
.servicos li:last-child a{
	color: #458B74;
	font-weight: normal;
}
.localizacao-texto{
	font-weight: bold;
}
.menu-login{
	width: 15%;
	float: right;
	box-sizing: border-box;
	position: relative;
	top: 1.99em;
}
.menu-login li{
	display: inline-block;
	padding-right: 0.6em;
}
.menu-login a{
	color: #607B8B;
}
.fa-map-marker{
	color: #458B74;
}
.container{
	width: 1170px;
	margin: 0 auto;
	/*padding-top: 100px;*/
}
.container h2, .verTodas{
	text-transform: uppercase;
	text-align: center;
}
.container h2{
	font-size: 2.2em;
	font-weight: 700;
	margin-top: 0.5em;
}
.verTodas{
	text-decoration: none;
	color: #2E8B57;
	font-weight: bold;
	display: block;
	line-height: 1.9em;
}
.space-content{
	margin-bottom: 0.5em;
}
.rodape{
	clear: both;
	background-color: #27408B;
	margin-top: 9.5em;
	padding-left: 4em;
	padding-bottom: 0.5em;
	box-sizing: border-box;
}
.referencias, .sobreShopping,.trabalheConosco{
	width: 25%;
	float: left;
}
.referencias li, .sobreShopping li, .trabalheConosco li, .newsLetter{
	padding-top: 1em;
}
.referencias a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 1.2em;
}
.sobreShopping a, .trabalheConosco a, .newsLetter h4{
	text-decoration: none;
	color: #009ACD;
}
.newsLetter h4{
	text-transform: uppercase;
	font-size: 1em;
	line-height: 1.3em;
}
.newsLetter p{
	color: white;
	width: 100%;
}
.linkBotao{
	text-decoration: none;
	color: white;
	text-align: center;
	border: 0.17em solid white;
	padding: 10px 80px;
}
.linkBotao:hover{
	background-color: white;
	color: #27408B;
}
.social{
	margin-top: 1.7em;
	position: relative;
}
.social li{
	display: inline-block;
	padding-left: 0.5em;
}
.social a{
	color: white;
}
.social li > a:hover:after{
	content: attr(data-tooltip);
	font-size: 0.8em;
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 0.5em;
	position: absolute;
	top: 0;
	text-align: center;
}
main h1{
	text-transform: uppercase;
	background-color: #008B45;
	color: white;
	font-size: 3em;
	text-indent: 1.5em;
	font-weight: bold;
	padding: 0.6em 0;
	margin-left: -100px;
	margin-right: -89.9px;
}
.container p{
	line-height: 1.1em;
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
	color: #2E8B57;
}
.container p:nth-of-type(1){
	padding-top: 0.6em;
}
.container p:nth-of-type(n+2){
	text-indent: 1.2em;
}
.texto p:nth-of-type(1):first-letter{
	font-size: 2em;
}
.projetosSociais ul{
	list-style-type: circle;
	margin-left: 2em;
	padding-top: 0.5em;
}
.tabela{
	margin-top: 1em;
}
.tabela thead tr > th{
	font-weight: bold;
	border-bottom: 0.15em solid gray;
	padding: 0.5em 1em;
	text-align: left;
}
.tabela tbody > tr{
	border-bottom: 0.1em solid gray;
}
.tabela tbody tr > td{
	padding: 0.8em 1em;
}
.tabela tbody > tr:nth-child(2n+1){ /*ou .tabela tbody > tr:nth-child(even)*/
	background-color: #CDCDC1;
}
@-webkit-keyframes mostraLocalizacao {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes mostraLocalizacao {
    from {opacity: 0;}
    to {opacity: 1;}
}
.mostraElemento{
	display: block;
}
.escondeElemento{
	display: none;
}
.categorias{
	width: 20%;
	padding-top: 1em;
	padding-bottom: 1.8em;
	float: left;
}
.categorias h3{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.3em;
}
.campoPesquisa{
	width: 100%;
	font-size: 0.9em;
	font-weight: normal;
	padding: 0.8em 0.3em;
	box-sizing: border-box;
	border: 1px solid #999;
	color: #999;
}
.categorias li{
	padding-top: 1em;
	font-size: 0.9em;
}
.categorias li > a{
	text-decoration: none;
	color: #848c94;
}
.painel_itens{
	width: 78%;
	float: right;
	margin-top: 1em;
	box-sizing: border-box;
}
.itemPainel{
	border: 1px solid #848C94;
	padding: 0.8em 1em 1.3em 1em;
	box-sizing: border-box;
	margin-bottom: 1em;
}
.itemPainel h4{
	text-transform: uppercase;
	font-size: 1.7em;
	font-weight: 800;
}
.itemPainel h4 > a{
	text-decoration: none;
	color: black;
}
.itemPainel li > ul li{
	display: inline-block;
}
.itemPainel li > ul li:nth-of-type(n+2){
	padding-left: 1.1em;
}
.categoriaItem{
	text-transform: uppercase;
}
.informacoesConsulta{
	padding-top: 1.1em;
}
.informacoesConsulta figure{
	width: 55%;
	float: left;
	padding-bottom: 1em;
}
.informacoesConsulta ul{
	width: 45%;
	float: right;
}
.itensConsulta li{
	padding: 0.3em 0;
}
.informacoesConsulta figure > img{
	width: 600px;
	height: 350px;
}
.informacoesConsulta figcaption{
    font-style: italic;
    background-color: #CFCFCF;
    padding: 0.3em 1em;
    color: #4F4F4F;
    font-size: 0.85em;
    width: 568px;
    margin-top: -0.2em;
}
.informacoesConsulta figcaption > strong{
	font-style: italic;
}
.lojasSemelhantes{
	margin-top: 6.8em;
}
.lojasSemelhantes ul{
	margin-top: 0.5em;
}
.lojasSemelhantes h3{
	font-size: 1.2em;
}
.lojasSemelhantes figure{
	width: 33%;
}
.lojasSemelhantes figure > img{
	width: 150px;
	height: 180px;
}
.lojasSemelhantes figcaption{
	background-color: transparent;
}
.painel{
    border: 2px solid #008B45;
    border-radius: 5px;
    margin-top: 0.5em;
}
.painel:nth-of-type(n+2){
	margin-top: 0.9em;
}
.painel_cabecalho,.painel_corpo{
	padding: 0.3em 1.3em;
}
.painel_cabecalho{
	background-color: #008B45;
    color: white;
}
.painel_corpo{
	font-size: 0.9em;
	padding-bottom: 0.9em;
}
.painel_corpo li{
	padding-top: 0.4em;
}
.cardapioItem{
	font-weight: bold;
}
.cinema img{
    width: 200px;
    height: 325px;
}
.cinema > ul, .gastronomia ul{
	margin-left: 1.2em;
}
.gastronomia img{
	width: 235px;
}